.wrapper-center {
  @media (min-width: $mobile-width) {
    width: 87.5%;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    width: 92%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 84%;
    max-width: $desktop-width - 80px;
    margin: 0 auto;
  }
}
