.additional__wrapper {
  @media (min-width: $desktop-width) {
    @include reset;
  }
}

.additional__title {
  position: relative;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 35px;
  width: 226px;

  &::after {
    content: "";
    position: absolute;
    background-color: $basic-green;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    padding: 0;
  }

  @include font(24px, 24px);
}

.additional__list {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
    border: 1px solid $special-gray;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    border-left: none;
    border-right: none;
  }
}

.additional__item {
  padding-top: 13px;
  padding-bottom: 20px;
  border-bottom: 1px solid $special-gray;

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    &:first-child {
      border-top: 1px solid $special-gray;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 28px;

    &:last-child {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.additional__item-text {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    width: 65%;
    margin-bottom: 0;
  }
}

.additional__item-title {
  margin: 0;

  @include font(16px, 16px);
  color: $special-dark-gray-2;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font(20px, 20px);
  }
}

.additional__item-info {
  display: flex;
  margin: 0;
  font-family: $font-family-additional;

  @include font(14px, 14px);
  color: $special-dark-gray;

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    justify-content: space-between;
    margin: 15px 0;
  }

  @media (min-width: $tablet-width) {
    @include font(16px, 20px);
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    justify-content: space-between;
  }
}

.additional__item-ammount {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-right: 50px;
  }
}

.additional__item-link {
  text-align: center;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 100%;
    padding: 6px 0;
  }

  @media (min-width: $desktop-width) {
    width: 27.85%;
    padding: 7px 0;
  }
}
