.additional__wrapper {
  @media (min-width: $desktop-width) {
    @include reset;
  }
}

.additional__title {
  margin: 0;
  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
  @include font(24px, 24px);
}

.additional__item {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.additional__item-text {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: $desktop-width) {
    width: 65%;
  }
}

.additional__item-title {
  margin: 0;
  @include font(16px, 16px);
  color: $special-dark-gray-2;
  text-transform: uppercase;
}

.additional__item-info {
  display: flex;
  font-family: $font-family-additional;
  @include font(14px, 14px);
  color: $special-dark-gray;
  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    justify-content: space-between;
  }
  @media (min-width: $tablet-width) {
    @include font(16px, 20px);
  }
  @media (min-width: $desktop-width) {
    width: 50%;
    justify-content: space-between;
  }
}

.additional__item-ammount {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-right: 50px;
  }
}

.additional__item-link {
  text-align: center;
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 100%;
    padding: 6px 0;
  }
  @media (min-width: $desktop-width) {
    width: 27.85%;
    padding: 7px 0;
  }
}
