.catalog {
  padding-bottom: 25px;
}

.catalog__wrapper {
  @include wrapper-center;
}

.catalog__product-title {
  @include font(16px, 20px);
  color: $special-dark-gray-2;
}

.catalog__product-show {
  color: inherit;
}

.catalog__product-properties {
  font-family: $font-family-additional;
  @include font(12px, 16px);
  color: $special-dark-gray;
  th {
    font-weight: normal;
  }
}

.catalog__extension-slogan {
  @include font(16px, 20px);
  text-transform: uppercase;
  color: $special-black;
}

.catalog__extension-description {
  font-family: $font-family-additional;
  @include font(12px, 16px);
  color: $special-dark-gray;
}
