.contacts__text {
  display: flex;
  justify-content: space-between;
  background-color: $basic-white;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.contacts__slogan {
  text-transform: uppercase;
  color: $special-black;

  @media (min-width: $mobile-width) {
    width: 140px;
    font-size: 16px;
  }

  @media (min-width: $tablet-width) {
    width: 170px;

    @include font(20px, 21px);
  }
}

.contacts__address {
  font-family: $font-family-additional;
  color: $special-dark-gray;

  @include font(14px, 20px);

  @media (min-width: $mobile-width) {
    width: 140px;
  }

  @media (min-width: $tablet-width) {
    width: 160px;
    font-size: 16px;
  }
}
