.form {
  padding-bottom: 32px;

  input {
    font: inherit;
    text-transform: uppercase;
    color: inherit;
    box-sizing: border-box;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 89%;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.form__title {
  width: 230px;
  margin: 0;
  text-transform: uppercase;

  @include font(14px, 18px);

  @media (min-width: $tablet-width) {
    width: 323px;

    @include font(20px, 30px);
  }
}

.form__fieldset {
  @include reset;
  border: none;
  max-width: 100%;

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    margin-top: 26px;
  }

  @media (min-width: $mobile-width) {
    margin-top: 70px;
  }
}

.form__fieldset-title {
  display: block;
  max-width: 100%;
  padding: 0;

  @include font(24px, 26px);

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;

    @include font(36px, 36px);
  }
}

.form__fieldset-title-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 2px;
    top: 15px;
    width: calc(100vw - 100vw * 0.125 / 2);
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    &::before {
      top: 18px;
      left: -11%;
      width: 100vw;
    }

    .title-wrapper {
      padding-left: 6.35%;
      margin-left: -6.35%;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: 18px;
      left: calc((100vw - 1220px) / 2 * -1);
      width: 100vw;
    }
  }
}

.form__fieldset-group {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }

  .form__fieldset {
    @media (min-width: $desktop-width) {
      width: 46%;
    }
  }
}

.form__fieldset-list {
  &--types {
    @media (min-width: $mobile-width) and (max-width: $tablet-width) {
      position: relative;
      padding-top: 22px;
      padding-bottom: 22px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -7.14%;
        width: 100vw;
        height: 1px;
        background-color: $gray-border;
      }

      &::after {
        top: auto;
        bottom: 0;
      }
    }

    @media (min-width: $tablet-width) {
      padding-top: 25px;
      padding-bottom: 29px;
      padding-left: 28px;
      border: 1px solid $form-input-border;
    }
  }

  &--contacts {
    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
    }

    .form__fieldset-item {
      @media (min-width: $desktop-width) {
        width: 46%;
        margin-bottom: 0;
      }
    }
  }

  &--additional {
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      display: grid;
      grid-template-columns: 46% 46%;
      justify-content: space-between;
    }

    @media (min-width: $tablet-width) {
      margin-top: -20px;
      margin-bottom: 54px;
    }

    @media (min-width: $desktop-width) {
      display: flex;

      .form__fieldset-item {
        width: 23%;
      }

      .form__fieldset-item:nth-child(2) {
        @media (min-width: $desktop-width) {
          margin-right: auto;
        }
      }
    }
  }
}

.form__fieldset-item {
  position: relative;
  max-width: 100%;
  margin-bottom: 14px;

  @include font(16px, 18px);
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 0;
  }

  &--text {
    display: flex;
    align-items: baseline;
    color: $special-dark-gray;
  }

  &--radio {
    color: $special-dark-gray-2;
  }

  @media (min-width: $tablet-width) {
    @include font(20px, 30px);
  }
}

.form__input-text {
  flex-grow: 1;
  padding: 14px;
  padding-right: 47px;
  margin-left: 14px;
  outline: none;
  border: 1px solid $special-gray;

  &:focus {
    border-color: $special-dark-gray;
  }

  &:invalid {
    border-color: $status-error;
  }

  &--email:focus ~ .form__input-icon {
    stroke: $basic-green;
  }

  &--phone:focus ~ .form__input-icon {
    fill: $basic-green;
  }

  &--email:invalid ~ .form__input-icon {
    stroke: $status-error;
  }

  &--phone:invalid ~ .form__input-icon {
    fill: $status-error;
  }
}

.form__input-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
}

.form__label-radio,
.form__label-checkbox {
  position: relative;
  display: block;
  padding: 6px 0;
  padding-left: 45px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    border: 1px solid $special-gray;
  }

  @media (min-width: $tablet-width) {
    padding-left: 60px;

    &::before {
      width: 38px;
      height: 38px;
    }
  }

  @media (min-width: $desktop-width) {
    &:hover,
    &:focus {
      &::before {
        border-color: $input-hover-gray;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.form__label-radio {
  &::before {
    border-radius: 50%;
  }
}

.form__input:checked ~ .form__label-radio {
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 14px;
    height: 14px;
    background-color: $basic-green;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 11px;
      left: 11px;
      width: 18px;
      height: 18px;
    }
  }
}

.form__input:checked ~ .form__label-checkbox {
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 6px;
    width: 18px;
    height: 14px;
    background: url("../img/icon-tick.svg") no-repeat 0 0;

    @media (min-width: $tablet-width) {
      top: 13px;
      left: 11px;
    }
  }
}

.form__message {
  width: 100%;
  height: 50%;
  padding: 13px;
  box-sizing: border-box;
  font-family: inherit;
  outline: none;
  border: 1px solid $form-input-border;

  &:focus {
    border-color: $special-dark-gray;
  }

  @include font(16px, 18px);
  text-transform: uppercase;
  color: $special-dark-gray;

  @media (min-width: $tablet-width) {
    @include font(20px, 30px);
  }
}

.form__line {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form__info {
  margin: 0;
  font-family: $font-family-additional;
  line-height: 16px;

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    text-align: center;
    margin-top: 21px;
  }

  @media (min-width: $tablet-width) {
    width: 46%;
    font-size: 16px;
  }
}

.form__submit {
  @include font(16px, 20px);

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    margin-top: 34px;
    font-size: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 46%;
    font-size: 20px;
  }
}
