.form {
  &__wrapper {
  @include wrapper-center;
  }
  &__title {
    text-transform: uppercase;
    font-weight: normal;
  }
  &__fieldset-title {
    font-size: 24px;
    line-height: 26px;
  }
  &__fieldset-item {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    &--text {
      color: $special-dark-gray;
    }
    &--radio {
      color: $special-dark-gray-2;
    }
  }
  &__fieldset-message {
    color: $special-dark-gray;
  }
  &__info {
    font-family: $font-family-additional;
    line-height: 16px;
  }
}

input, textarea {
  font: inherit;
  text-transform: uppercase;
  color: inherit;
}
