.gift {
  min-height: 289px;

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    padding-top: 39px;
    padding-bottom: 40px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    align-self: end;
  }
}

.gift__wrapper {
  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.gift__inner {
  position: relative;
  background-color: $basic-green;

  &::before {
    content: "";
    position: absolute;
    margin: auto;
    display: block;
    width: 80px;
    height: 80px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  @media (min-width: $mobile-width) and (max-width: $tablet-width), (min-width: $desktop-width) {
    &::before {
      top: 58px;
      left: 0;
      right: 0;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    &::before {
      left: 11%;
      top: 0;
      bottom: 0;
    }
  }
}

.gift__title {
  margin: 0;
  position: absolute;
  font-family: $font-family-additional;

  @media (min-width: $mobile-width) and (max-width: $tablet-width), (min-width: $desktop-width) {
    left: 0;
    right: 0;
    bottom: 43px;
    margin: 0 auto;
    width: 161px;
    text-align: center;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    right: 17%;
    top: 50%;
    transform: translateY(-50%);
    width: 165px;
  }

  @include font(16px, 20px);
  color: $basic-white;
}

.gift__photo {
  display: block;
}
