.page-main__columns {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 2px;
    top: 42px;
    width: calc(100vw - 7.14%);
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 90px;
      left: calc((100vw * 0.08) / 2 * -1);
      width: 100vw;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 20.5%;
    column-gap: 6%;
    padding-bottom: 80px;

    &::before {
      top: 97px;
      left: calc((100vw * 0.16) / 2 * -1);
      width: 100vw;
    }
  }
}
