.page-main__title {
  @media (max-width: $mobile-width) {
    padding-top: 27px;
    padding-bottom: 40px;
  }
  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 165px;
  }
  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}
