.page__body {
  overflow-x: hidden;

  @include reset;
  font-family: $font-family-main;

  @include font(14px, 18px);
  color: $basic-black;
  min-width: 320px;

  &--index {
    @media (min-width: $desktop-width) {
      .site-nav__item--current .site-nav__link::after {
        background-color: $basic-white;
      }

      .site-nav__link {
        color: $basic-white;
      }
    }
  }

  &--form,
  &--catalog {
    .contacts {
      @media (min-width: $mobile-width) and (max-width: $desktop-width) {
        background-color: $basic-gray;
      }
    }

    .site-nav__item:last-child {
      @media (min-width: $mobile-width) and (max-width: $desktop-width) {
        border-bottom: none;
      }
    }
  }

  &--form {
    .page-title {
      @media (min-width: $mobile-width) and (max-width: $desktop-width) {
        border-bottom: none;
      }
    }
  }
}
