.page-footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: $basic-gray;
}

.page-footer__wrapper {
  display: flex;
  align-items: center;

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.page-footer__logo {
  width: 128px;
  height: 24px;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-footer__logo-img {
  display: block;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  font-family: $font-family-additional;
  font-size: 16px;
  color: $special-dark-gray;

  &:hover,
  &:focus {
    .page-footer__copyright-logo {
      fill: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    width: 100%;
  }
}

.page-footer__copyright-logo {
  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    margin-left: auto;
  }

  @media (min-width: $tablet-width) {
    margin-left: 22px;
  }
}
