.page-main__columns {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 20.5%;
    column-gap: 6%;
    padding: 0 40px;
    max-width: $desktop-width - 80px;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 85px;
  }
}
