.programs {
  padding-top: 22px;
  padding-bottom: 27px;
}

.programs__wrapper {
  @include wrapper-center;
}

.programs__item {
  background-color: $basic-gray;
}

.programs__title {
  @include font(24px, 37px);
  text-transform: uppercase;
}

.programs__description {
  font-family: $font-family-additional;
  color: $special-dark-gray;
}

.programs__link {
  @include font(16px, 16px);
  color: $basic-black;
  text-transform: uppercase;
}
