.result {
  padding-top: 27px;
  padding-bottom: 25px;
  background-color: $basic-gray;
}

@media (min-width: $desktop-width) {
  .result__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .result__text {
    width: 440px;
  }
}

.result__description {
  margin: 0;
  font-family: $font-family-additional;
  color: $special-dark-gray;
  @media (min-width: $tablet-width) {
    @include font(16px, 24px);
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .result__numbers {
    display: flex;
    justify-content: space-between;
  }
}

.result__indicators {
  display: flex;
}

.result__indicator {
  @include font(24px, 24px);
  text-transform: uppercase;
}

.result__indicator-name {
  font-family: $font-family-additional;
  @include font(12px, 12px);
  color: $special-dark-gray;
}

.result__cost {
  text-transform: uppercase;
  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    text-align: center;
    @include font(14px, 20px);
  }
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 174px;
    text-align: end;
    @include font(20px, 20px);
  }
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.result__slider-item {
  display: none;
  &--current {
    display: block;
  }
}

.result__slider-button {
  font-family: inherit;
  @include font(16px, 20px);
  text-transform: uppercase;
}

