.social-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $mobile-width) and (max-width: $tablet-width - 1) {
    width: 100%;
    padding: 20px 0;
    margin-top: 32px;
    margin-bottom: 22px;
    border-top: 1px solid $gray-border;
    border-bottom: 1px solid $gray-border;
  }
}

.social-list__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  color: $special-gray-2;

  &:hover,
  &:focus {
    .social-list__link-icon {
      fill: $basic-green;
    }
  }

  &--fb:hover,
  &--fb:focus {
    .social-list__link-icon {
      stroke: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
