body {
  @include reset;
  font-family: $font-family-main;
  @include font(14px, 18px);
  color: $basic-black;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* List reset */

.site-nav,
.programs__list,
.properties__list,
.result__slider-list,
.social,
.catalog__list,
.additional__list,
.form__fieldset-list {
  @include reset;
  list-style: none;
}

/* Link reset */

a {
  text-decoration: none;
}
