// Начните писать стили здесь

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src:
    local("Oswald"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-display: swap;
  src:
    local("Oswald"),
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

@import "utils/mixins.scss";
@import "utils/variables.scss";
@import "utils/global.scss";
@import "utils/wrapper-center.scss";
@import "utils/title-wrapper.scss";
@import "blocks/page.scss";
@import "blocks/button.scss";
@import "blocks/section-title.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-nav.scss";
@import "blocks/page-title.scss";
@import "blocks/promo.scss";
@import "blocks/programs.scss";
@import "blocks/properties.scss";
@import "blocks/result.scss";
@import "blocks/contacts.scss";
@import "blocks/catalog.scss";
@import "blocks/additional.scss";
@import "blocks/form.scss";
@import "blocks/page-footer.scss";
@import "blocks/social-list.scss";
